body {
      margin: 0;
}

section {
    height: 100vh;              /* cada sección ocupa toda la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo1 {
    background-image: url("imagenes/fondo9.jpg");
    text-align: center;
}

.fondo2 {
    background-image: url("imagenes/tarjeta12.jpg");
    text-align: center;
}
.fondo3 {
    background-image: url("imagenes/fondo6-ubi.jpg");
    text-align: center;
}
    .contenido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; /* centra vertical y horizontal */
      text-align: center;
    }
    button {
      padding: 12px 24px;
      font-size: 16px;
      background-color: #000216;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
    button:hover {
      background-color: #1b1b1b;
    }
    .boton-con-texto {
      display: flex;
      flex-direction: column; /* botón arriba, texto abajo */
      align-items: center;
    }
    #bg-audio { display: none; /* Oculta el reproductor */ }
